h2 {
  font-family: cursive;
  font-size: 20px;
  background-color: white;
  width: 90px;
  border-style: dashed;
}

body {
  background-color: grey;
}

#div1 div {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
div > #div1a {
  background-color: aquamarine;
}
div > #div1b {
  background-color: red;
}
div > #div1c {
  background-color: lightgreen;
}
div > #div1d {
  background-color: yellow;
}
#div2 {
  display: flex;
  justify-content: flex-end;
}

#div2a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div2b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div2c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div3 {
  display: flex;
  justify-content: space-around;
}

#div3a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div3b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div3c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div4 {
  display: flex;
  justify-content: space-between;
}

#div4a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div4b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div4c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div5 {
  display: flex;
  align-items: center;
}

#div5a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div5b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 70px;
  font-family: fantasy;
  margin: 5px;
}
#div5c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div6 {
  display: flex;
  align-items: flex-start;
}

#div6a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div6b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 70px;
  font-family: fantasy;
  margin: 5px;
}
#div6c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div7 {
  display: flex;
  align-items: stretch;
}

#div7a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div7b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div7c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div8 {
  display: flex;
  align-items: flex-end;
}

#div8a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 50px;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div8b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 50px;
  height: 70px;
  font-family: fantasy;
  margin: 5px;
}
#div8c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 50px;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div9 {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  height: 400px;
}

#div9a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div9b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div9c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div9d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div9e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div9f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div10 {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-items: space-between;
}

#div10a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div10b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div10c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div10d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div10e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div10f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div11 {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: stretch;
}

#div11a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 200px;
  font-family: fantasy;
  margin: 5px;
}

#div11b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 200px;
  font-family: fantasy;
  margin: 5px;
}
#div11c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 200px;
  font-family: fantasy;
  margin: 5px;
}
#div11d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 180px;
  font-family: fantasy;
  margin: 5px;
}

#div11e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 180px;
  font-family: fantasy;
  margin: 5px;
}
#div11f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 180px;
  font-family: fantasy;
  margin: 5px;
}

#div12 {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: center;
}

#div12a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div12b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div12c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div12d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div12e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div12f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div13 {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: flex-start;
}

#div13a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div13b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div13c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div13d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div13e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div13f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div14 {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: flex-end;
}

#div14a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div14b {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div14c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div14d {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div14e {
  text-align: center;
  background-color: red;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div14f {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  width: 30%;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div15 {
  display: flex;
  align-content: stretch;
}

#div15a {
  text-align: center;
  flex-grow: 1;
  background-color: aqua;
  border-style: solid;
  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div15b {
  text-align: center;
  flex-grow: 4;
  background-color: red;
  border-style: solid;

  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div15c {
  text-align: center;
  flex-grow: 1;
  background-color: lightgreen;
  border-style: solid;

  height: 90px;
  font-family: fantasy;
  margin: 5px;
}
#div15d {
  text-align: center;
  flex-grow: 10;
  background-color: yellow;
  border-style: solid;

  height: 90px;
  font-family: fantasy;
  margin: 5px;
}

#div16 {
  display: flex;
  flex-wrap: nowrap;
}

#div16a {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}

#div16b {
  text-align: center;
  background-color: red;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16c {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16d {
  text-align: center;
  background-color: yellow;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16e {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16f {
  text-align: center;
  background-color: red;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16g {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16h {
  text-align: center;
  background-color: yellow;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16i {
  text-align: center;
  background-color: aqua;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16j {
  text-align: center;
  background-color: red;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16k {
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
#div16l {
  text-align: center;
  background-color: yellow;
  border-style: solid;
  height: 50px;
  font-family: fantasy;
  margin: 5px;
}
